.full-screen-container {
  position: relative;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  /* full width of viewport */
  overflow: hidden;
  background-color: antiquewhite;
  /* z-index: 2; */

}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover
    /* fills container without stretching */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hsl(302, 100%, 50%);
  text-align: center;
}

.overlay-form-container{
  position: absolute;
  top: -45px;
  left: 5%;
  min-height: 55px;
  max-height: 100%;
  min-width: 90%;
  max-width: 95%;
  border: 0px solid;
  z-index: 1;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important;
  /* padding-left: 2px; */
  /* justify-content: space-between; */
  
  /* text-align: center; */
}

