.full-home2-container {
    /* min-height: 100vh; */
  position: relative;
  min-width:  100%;  
  min-height: 250px;
  max-height: 100%;
  /* background-color: antiquewhite; */
  /* margin-top: 40px; */
  margin-bottom: 20px;
}

.below-form{
  margin-top: 100px;
}


.child-container {
    height: 250px;
    width: 400px;
    /* background-color: rgb(254, 250, 255); */
    /* border-radius: 2rem; */
    /* border: 1px solid black; */
    display: flex;
    /* enables flexbox */
    /* justify-content: space-around; */
    /* align-items: center; */
    flex-direction: column;
    transition: all 0.3s ease;
    padding: 20px;
    
}



.btn-click {
    width: 200px;
    border-radius: 10rem;
    background-color: rgba(255, 248, 31, 0.249);
    height: 30px;
}

.dashboard-stat-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important;
}

.form-input-text{
  padding: 12px 12px 12px 35px;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  margin-top: 2px;
  margin-bottom: 2px;
                            
}